<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{{style}}}
  <script src="remark.min.js"></script>
  <script>
    function create() {
      var slideshow = remark.create({
        {{{source}}},
        ratio: '16:9',
        highlightLines: true,
        countIncrementalSlides: false,
        highlightStyle: 'github'
      });
      var slideElements
function getElementForSlide(slide) {
  slideElements = slideElements || document.querySelectorAll('.remark-slide')
  return slideElements[slide.getSlideIndex()]
}
slideshow.on('showSlide', function (slide) {
  Array.from(getElementForSlide(slide).querySelectorAll('video')).forEach(function (vid) {
    vid.loop = true
    vid.currentTime = 0
    vid.play()
  })
});
slideshow.on('hideSlide', function (slide) {
  Array.from(getElementForSlide(slide).querySelectorAll('video')).forEach(function (vid) {
    vid.pause()
  })
});
return slideshow;
    }
  </script>
</head>
<body onload="slideshow = create()">
</body>
</html>
